<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Прогноз погоды</title>
</head>
<body>
{% block content %}
<div class="row">
    {% if data_dict %}
        <h3>Country: {{ data_dict.sys.country }}</h3>
        <h3>City: {{ data_dict.name }}</h3>
        <h3>Longitude: {{ data_dict.coord.lon }}</h3>
        <h3>Latitude: {{ data_dict.coord.lat }}</h3>
        <h3>Weather: {{ data_dict.weather.0.main }}</h3>
        <h3>Temperature: {{ data_dict.main.temp }}°C</h3>
    {% else %}
    <h4>Привет! Пришли мне название города, чтобы узнать прогноз погоды в нем</h4>
    <br>
    <form action="">
        <label>Город:</label>
        <input type="text" name="city"><br><br>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
</div>
{% endblock content %}
</body>
</html>